@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@font-face {
  font-family: 'motion_picture_ratingsregular';
  src: local('motion_picture_ratingsregular'), url('./fonts/motion_picture_ratings-webfont.woff2') format('woff2'),
       local('motion_picture_ratingsregular'), url('./fonts/motion_picture_ratings-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Changes to Semantic UI */

.ui.search {
  min-width: 50%;
}

.ui.input {
  min-width: 100%;
}

.ui.search > .results {
  width: 100% !important;
}

.ui.search > .results > .result > .image > img {
  float: right;
}

.ui.borderless {
  border-left: none !important;
  border-right: none !important;
}

.ui.input.focus>input, .ui.input>input:focus {
  border-color: inherit;
}

.ui.sticky {
  z-index: 999;
}


/* Changes to Slick */

.slick-track {
  display: flex !important;
}


/* Custom styles */

.underline-dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.p-landing {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-top: 1em;
}

.carousel-image {
  max-height: 400px;
}

.carousel-div {
  padding: 5px;
}

.no-animation {
  animation: none !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-background {
  background: none !important;
}

.full {
  height: 100%;
  width: 100%;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  font-family: 'motion_picture_ratingsregular' !important;
  font-weight: 400 !important;
  font-size: 2.5rem !important;
  text-transform: uppercase !important;
}


/* Responsiveness for the table */
/* below 768px; 768px - 991px; 992px - 1200px; above 1200px */

.ui.grid>.row>.column {
  width: 100% !important;
}

@media (min-width: 768px) {
  .ui.grid.two>.row>.column {
    width: 50% !important;
  }
}

@media (min-width: 768px) {
  .ui.grid.three>.row>.column {
    width: 33.33333333% !important;
  }
}

@media (min-width: 768px) {
  .ui.grid.four>.row>.column {
    width: 25% !important;
  }
}

@media (min-width: 992px) {
  .ui.grid.five>.row>.column {
    width: 20% !important;
  }
}