@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

@font-face {
  font-family: 'motion_picture_ratingsregular';
  src: local('motion_picture_ratingsregular'), url('./fonts/motion_picture_ratings-webfont.woff2') format('woff2'),
       local('motion_picture_ratingsregular'), url('./fonts/motion_picture_ratings-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 16px;
}

body {
  background-color: #F9FAF7;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Courier New', monospace;
}

/* Changes to Semantic UI */

.ui.search {
  min-width: 50%;
}

.ui.input {
  min-width: 100%;
}

.ui.search > .results {
  width: 100%;
}

.ui.search > .results > .result > .image > img {
  float: right;
}

.ui.borderless {
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.ui.input.focus>input, .ui.input>input:focus {
  border-color: inherit;
}

.ui.sticky {
  z-index: 999;
}


/* Custom styles */

.underline-dotted {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.p-landing {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
  margin-top: 1em;
}

.carousel-image {
  max-height: 400px;
}

.carousel-div {
  padding: 5px;
}

.full {
  height: 100%;
  width: 100%;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Custom styles applied to Semantic UI elements with own class names */

.ui.grid>.row.no-padding-bottom {
  padding-bottom: 0;
}

.ui.button.no-background {
  background: none;
}

.ui.brand {
  font-family: 'motion_picture_ratingsregular';
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.ui.segment.highlight {
  background-color: #dbf8df;
}


/* Responsiveness for the table */
/* below 768px; 768px - 991px; 992px - 1200px; above 1200px */
/* Own class 'styled' added */

.ui.grid.styled>.row>.column {
  width: 100%;
}

@media (min-width: 768px) {
  .ui.two.column.grid.styled>.row>.column {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .ui.three.column.grid.styled>.row>.column {
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .ui.four.column.grid.styled>.row>.column {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .ui.five.column.grid.styled>.row>.column {
    width: 20%;
  }
}